.stock-card {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p.card-text.quote span {
    margin-right: 5px;
}

p.card-text.quote span:first-of-type {
    font-weight: bold;
}

p.card-text.price-up {
    color: green;
}

p.card-text.price-down {
    color: red;
}

.recharts-wrapper {
    font-size: 10px;
}

.recharts-custom-tooltip {
    margin: 0px;
    padding: 2px 5px 2px 5px; 
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(204, 204, 204); 
    white-space: nowrap;
}

.recharts-custom-tooltip span.price-up {
    color: green;
    font-weight: bold;
}

.recharts-custom-tooltip span.price-down {
    color: red;
    font-weight: bold;
}

.recharts-text.recharts-label.prev-close-tag {
    font-weight: bold;
}